/* 
  TABLE OF CONTENT
  
  1. General settings
  2. Hero section
  3. About section
  4. Gallery section
*/


/****** 1. General settings ******/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --d-gap: 1em;
  --m-gap: .5em;
  --content-width: 1180px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Serif Display", serif;
  overflow-x: hidden;
  position: relative;
}

/* body::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  transition: opacity .5s ease-out;
  overflow-x: hidden;
  z-index: 1000;
} */

/* body.content-loaded::after {
  opacity: 0;
  pointer-events: none;
} */



main {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

/****** 2. Hero section ******/

#hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: 37%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

h1,
h2 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-indent: 1rem;
  margin: 0;
  z-index: 2;
}

h1 {
  font-size: max(5vw, 2.5rem);
  margin-bottom: 0.9em;
}

h2 {
  font-size: max(3.5vw, 1.8rem);
}

/* Scrolldown icon */

.arrow-link {
  z-index: 2;
  opacity: 0;
  transition: opacity .5s ease-in-out;

  position: absolute;
  left: 50%;
  bottom: 5%;
}

.arrow-link.visible {
  opacity: 1;
}

.arrows {
  width: 60px;
  height: 72px;
  margin-left: -30px;
  transform: scale(.7);
}

.arrows path {
  stroke: #000000;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 1.5s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.arrows path.a1 {
  animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
}

/****** 3. About section ******/


/****** 4. Gallery section ******/


#gallery nav {
  position: sticky;
  top: 0;
  background: #ffffff;
}

#gallery nav ul {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  text-transform: uppercase;
  list-style: none;
  padding: 1em;
  padding-left: 0;
}

@media only screen and (max-width: 600px) {
  #gallery nav ul {
    justify-content: center;
    padding-left: var(--m-gap);
  }
}

#gallery nav ul li {
  cursor: pointer;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  align-self: flex-end;

}

#gallery nav ul li+li {
  position: relative;
  margin-left: 1.5em;
}

#gallery nav ul li a.selected {
  border-bottom: 1px solid #000000;
}

#gallery .img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--d-gap);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}

.img-container+.img-container {
  margin-top: var(--d-gap);
}

@media only screen and (max-width: 600px) {
  #gallery .img-container {
    gap: var(--m-gap);
    padding: 0 var(--m-gap);
  }


  .img-container+.img-container {
    margin-top: var(--m-gap);
  }
}

#gallery .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}